<div *ngIf="queried; else edit">
    <h2>{{value}}</h2>
    <hr>
</div>

<ng-template #edit>
    <div *ngIf="selected; else med">
        <h2>Edit Media</h2>
    </div>    
    <ng-template #med>
        <div>
            <h2>Media</h2>
        </div>
    </ng-template>
    <hr>
    <div *ngIf="selected">
        <form [formGroup]="editMediaForm" (ngSubmit)="onSubmit()">
            <table>
                <tr><th>Title:</th><td><input id="Title" type="text" formControlName="Title"></td></tr>
                <tr><th>Year:</th><td><input id="Year" type="text" formControlName="Year"></td></tr>
                <tr><th>Rated:</th><td><input id="Rated" type="text" formControlName="Rated" placeholder="PG-13"></td></tr>
                <tr><th>Released:</th><td><input id="Released" type="text" formControlName="Released" placeholder="Aug 5 2021"></td></tr>
                <tr><th>Runtime:</th><td><input id="Runtime" type="text" formControlName="Runtime" placeholder="120 mins"></td></tr>
                <tr><th>Genre:</th><td><input id="Genre" type="text" formControlName="Genre" placeholder="Comedy, Romance, Horror"></td></tr>
                <tr><th>Plot:</th><td><input id="Plot" type="text" formControlName="Plot" placeholder="A long long time ago..."></td></tr>
                <tr><th>Poster:</th><td><input id="Poster" type="text" formControlName="Poster" placeholder="http://www.imageurl.com/goeshere.jpg"></td></tr>
                <tr><th>Metascore:</th><td><input id="Metascore" type="text" formControlName="Metascore" placeholder="78"></td></tr>
                <tr><th>imdbRating:</th><td><input id="imdbRating" type="text" formControlName="imdbRating" placeholder="6.7"></td></tr>
                <tr><th>imdbVotes:</th><td><input id="imdbVotes" type="text" formControlName="imdbVotes" placeholder="123,456"></td></tr>
                <tr><th>imdbID:</th><td><input id="imdbID" type="text" formControlName="imdbID" placeholder="tt12345678"></td></tr>
                <tr><th>Type:</th><td><select id="Type" formControlName="Type" [(ngModel)]="mediaType" (change)="isType($event)">
                    <option value="movie" [selected]="mediaType=='movie'">Movie</option>
                    <option value="series" [selected]="mediaType=='series'">Series</option>
                </select></td></tr>
                <tr><th>Watched:</th><td><select id="watched" formControlName="watched" [(ngModel)]="watched" (change)="isWatched($event)">
                    <option [value]="0" [selected]="watched==0">No</option>
                    <option [value]="1" [selected]="watched==1">Yes</option>
                </select></td></tr>
                <tr *ngIf="watched=='1' || watched==1"><th>My Rating:</th><td><input id="myRating" type="number" formControlName="myRating" max="10" min="0" step=".1"></td></tr>
                <tr><td></td><td><button class="button fancy-button" type="submit">Save Media</button> <button class="button fancy-button" routerLink="/media">Cancel</button></td></tr>
            </table>
        </form>
    </div>
</ng-template>


<div  *ngFor="let m of media; let cnt = index">
    <div *ngIf="m.Type==='movie'; else series">
        <table *ngIf="list || queried">
            <tr>
                <td><h3>{{ cnt+1 }}. </h3></td>
                <td rowspan="4">
                    <img width="75" src="{{m.Poster}}">
                </td>
                <td>
                    <h3>
                    <a 
                        [title]="m.Title + ' details'"
                        [routerLink]="['/movies', m._id]">
                        <b> {{ m.Title }} ({{ m.Year}}) </b>
                    </a>
                    </h3>
                </td>
            </tr>
            <tr *ngIf="queried">
                <td></td>
                <td>IMDB Rating: {{ m.imdbRating }}</td>
            </tr>
            <tr *ngIf="queried">
                <td></td>
                <td>IMDB Votes: {{ m.imdbVotes}}</td>
            </tr>
            <tr *ngIf="queried">
                <td></td>
                <td>My Rating: {{ m.myRating }}</td>
            </tr>
            <tr *ngIf="queried"><td><hr></td><td><hr></td></tr>
        </table>
    </div>

    <ng-template #series>
        <div>
            <table *ngIf="list || queried">
                <tr>
                    <td><h3>{{ cnt+1 }}. </h3></td>
                    <td rowspan="4">
                        <img width="75" src="{{m.Poster}}">
                    </td>
                    <td>
                        <h3>
                        <a 
                            [title]="m.Title + ' details'"
                            [routerLink]="['/series', m._id]">
                            <b> {{ m.Title }} ({{ m.Year}}) </b>
                        </a>
                        </h3>
                    </td>
                </tr>
                <tr *ngIf="queried">
                    <td></td>
                    <td>IMDB Rating: {{ m.imdbRating }}</td>
                </tr>
                <tr *ngIf="queried">
                    <td></td>
                    <td>IMDB Votes: {{ m.imdbVotes}}</td>
                </tr>
                <tr *ngIf="queried">
                    <td></td>
                    <td>My Rating: {{ m.myRating }}</td>
                </tr>
                <tr *ngIf="queried"><td><hr></td><td><hr></td></tr>
            </table>
        </div>
    </ng-template>
</div>